*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    flex-shrink: 0;
    display: flex;
    align-items: end;
}

.heather .navbar a{
    margin-right: 50px;
    color: black;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
    
}

.sidebar .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

h1{
    color: #474747;
    margin-top: 20px;
    margin-left: 40px;
}

h4{
    color: #474747;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 10px;
}
h5{
    color: #474747;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14x;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 12px;
}

p {
color: #474747;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.imgbox1{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
}

.imgbox2{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox3{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox4{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox5{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox6{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox7{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
}

.imgbox8{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox9{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox9{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox10{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox11{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}


.imgbox12{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
}

.imgbox13{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox14{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox15{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox16{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox17{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
}

.imgbox18{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox19{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox20{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox21{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox22{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
}

.imgbox23{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox24{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox25{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox26{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox27{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox28{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
}

.imgbox29{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox30{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox31{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox32{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox33{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}


.imgbox34{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
}

.imgbox35{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox36{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox37{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox38{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox39{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox40{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox41{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox42{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox43{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox44{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox45{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox46{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox47{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox48{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox49{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox50{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox51{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox52{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox53{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox54{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox55{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox56{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox57{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox58{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox59{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox60{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox61{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox62{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox63{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}
.imgbox64{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox65{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox66{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox67{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox68{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox69{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox70{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox71{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox72{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox73{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox74{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox75{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox76{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox77{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox78{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox79{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox80{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox81{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox82{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox83{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox84{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox85{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox86{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox87{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox88{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox89{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}

.imgbox90{
    
    border-radius: 21px;
    padding-top: 22px;
    background: #F1F1F1;
    width: 233px;
    height: 333px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
}